parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - resources/views
        - routes
        - tests
    level: 5
    ignoreErrors:
        - '#Call to an undefined static method#'